asgiref==3.5.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.10.8
chardet==4.0.0
Django==3.2.13
future==0.18.2
googlesearch-python==1.1.0
idna==2.10
psycopg2==2.9.3
python-whois==0.7.3
pytz==2022.1
requests==2.25.1
soupsieve==2.3.2.post1
sqlparse==0.4.2
typing-extensions==4.2.0
urllib3==1.26.9
